* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  color: white;
  background: black;
  max-width: 100vw;
  /* Removing overflow hidden to allow scrolling */
  overflow-x: hidden; /* Restricts horizontal scrolling only */
  overflow-y: auto; /* Allows vertical scrolling */
}

.light {
  background: white;
  color: black;
}

.dark {
  background: black;
  color: white;
}

.theme {
  transition: 1s all;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 100%; 
  width: 100%; 
  height: auto; 
  min-height: 100vh; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  justify-content: space-between; 
}
@media (min-width: 768px) {
  .container {
    max-width: 1336px; 
  }
}
