
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  color: white;
  background: black;
 max-width: 100vw;
 overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
.container{
  width: 1336px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  justify-content: space-between;

}
